name: Build Bookings API

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/bookings-api/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/bookings-api/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./src/bookings-api

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release
